**1 задача**
1. Скачать файл в уроке
2. Считать данные с помощью pandas
3. Вывести на экран первые 5 строк
4. Посмотреть на описание признаков и на их содержание

In [32]:
import pandas as pd

# Загрузить файл
df = pd.read_csv('./kc_house_data.csv', encoding="UTF-8")

# Вывести первые 5 строк
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6180,1266200130,20140615T000000,650000.0,3,1.75,2140,9484,1.0,0,0,...,7,1290,850,1953,0,98004,47.6234,-122.191,1960,9630
21255,3814900660,20140721T000000,471835.0,4,2.50,3281,5354,2.0,0,0,...,9,3281,0,2014,0,98092,47.3273,-122.163,2598,4815
3436,5651010300,20140821T000000,370000.0,3,2.25,1650,4859,2.0,0,0,...,7,1650,0,1988,0,98011,47.7729,-122.172,1890,5018
6099,6204050080,20140528T000000,555000.0,3,2.50,3160,4270,2.0,0,0,...,8,2650,510,2006,0,98011,47.7453,-122.194,2720,12523
4046,2420069201,20141107T000000,267000.0,3,2.00,1390,6005,2.0,0,0,...,8,1390,0,2005,0,98022,47.2117,-121.990,1264,5550

**2 задача**
1. Проведите первичный анализ данных
2. Изучите типы данных
3. Найдите количество пропущенных ячеек в данных
4. Посчитайте основные статистики по всем признакам и поизучайте их

In [33]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [34]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [36]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [37]:
df.describe(include='object')

                   date
count             21613
unique              372
top     20140623T000000
freq                142

**3 задача**

Ответьте на несколько вопросов

3.1 В каком диапазоне изменяются стоимости недвижимости?

In [38]:
df['price'].value_counts()

price
350000.0     172
450000.0     172
550000.0     159
500000.0     152
425000.0     150
            ...
607010.0       1
1362500.0      1
298800.0       1
957500.0       1
402101.0       1
Name: count, Length: 4028, dtype: int64

In [39]:
f'минимальная цена {df.price.min()}', f'максимальгая цена {df.price.max()}'

('минимальная цена 75000.0', 'максимальгая цена 7700000.0')

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [40]:
df['sqft_living'].mean()/df['sqft_lot'].mean() * 100, "%"

(13.76781757959227, '%')

3.3 Как много домов с разными этажами в данных?

In [41]:
df['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

3.4 Насколько хорошие состояния у домов в данных?

In [42]:
df['condition'].value_counts(normalize=True)*100,'%'

(condition
 3    64.919262
 4    26.275852
 5     7.870263
 2     0.795817
 1     0.138805
 Name: proportion, dtype: float64,
 '%')

3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [43]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

**4 задача**

Ответьте на несколько вопросов

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [44]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [45]:
df[df['price'] >= 600000]['sqft_lot'].mean()

20454.783537543197

4.3 Как много домов коснулся ремонт?

In [46]:
df[(df['yr_renovated'] != 0)].shape[0]

914

4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [47]:
df[(df['grade'] > 10)]["price"].mean()

1678635.1175298805

In [48]:
df[(df['grade'] < 4)]["price"].mean()

189750.0

In [49]:
df[(df['grade'] > 10)]["price"].mean() - df[(df['grade'] < 4)]["price"].mean()

1488885.1175298805

**5 задача**

Ответьте на несколько вопросов

5.1 Выберите дом клиенту

Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [50]:
df[
(df['waterfront'] == 1) &
(df['bathrooms'] >= 3) &
~(df['sqft_basement'] == 0)
].shape[0]

41

5.2 Выберите дом клиенту

Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [52]:
client_choice = df[
(df['view'] == 4) |
(df['waterfront'] == 1) &
(df['condition'] == 5) &
(df['yr_built'] >= 1980)
]['price']

In [53]:
client_choice.min(),client_choice.max()

(252000.0, 6885000.0)

5.3 Выберите дом клиенту

Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [55]:
client_choice3 = df[
(df['sqft_basement'] == 0) &
(df['floors'] == 2) &
(df['price'] < 150000) &
(df['price'].min() < df['price'].max())]

In [56]:
client_choice3.condition.mean()

2.8333333333333335